
#include <windows.h>
#include "resource.h"

1                       ICON    DISCARDABLE     "..\\lib\\yori.ico"

#include "../lib/yoriver.rc"

//
// We can build the manifest using old resource compilers,
// but need to ensure the definitions are in place.
//

#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "ysetup.manifest"

//
//  NT 3.5 doesn't support DIALOGEX, and DIALOG appears to work correctly
//  including specifying a different font.  If DIALOGEX is needed for some
//  reason, we might need a seperate resource to support NT 3.5x.  That
//  would also remove the need to change fonts at runtime.
//

SETUPDIALOG DIALOG 0, 0, 400, 230
STYLE WS_POPUP | WS_CAPTION | DS_MODALFRAME
CAPTION "Yori setup"
FONT 8, "MS Sans Serif"
{
    LTEXT "&Install directory:", IDC_LABEL_INSTALLDIR, 8, 11, 60, 10
    EDITTEXT IDC_INSTALLDIR, 70, 10, 260, 12
    PUSHBUTTON "&Browse...", IDC_BROWSE, 340, 8, 50, 14


    GROUPBOX "Install Type", IDC_LABEL_INSTALLTYPE, 12, 34, 210, 147
    CONTROL "Install C&ore", IDC_COREONLY, "Button", BS_RADIOBUTTON|WS_GROUP, 20, 50, 80, 10
    CONTROL "Install &Typical", IDC_TYPICAL, "Button", BS_RADIOBUTTON|WS_TABSTOP, 20, 90, 80, 10
    CONTROL "Install &Complete", IDC_COMPLETE, "Button", BS_RADIOBUTTON, 20, 140, 80, 10

    LTEXT "Core includes the Yori shell and commands that are equivalent to those included in CMD", IDC_LABEL_COREDESC, 32, 63, 180, 20
    LTEXT "Typical includes Core plus useful tools and utilities such as cvtvt, df, du, hash, hexdump, iconv, lines, lsof, mount, nice, sdir, tail, tee, touch and which", IDC_LABEL_TYPICALDESC, 32, 103, 180, 30
    LTEXT "Complete includes Typical plus a CMD version of for and clmp multiprocessor compiler wrapper", IDC_LABEL_COMPLETEDESC, 32, 153, 180, 20

    GROUPBOX "Install Options", IDC_LABEL_INSTALLOPTIONS, 230, 34, 160, 147
    CONTROL "Install &Desktop shortcut", IDC_DESKTOP_SHORTCUT, "Button", BS_CHECKBOX|WS_GROUP|WS_TABSTOP, 240, 50, 120, 10
    CONTROL "Install &Start Menu shortcut", IDC_START_SHORTCUT, "Button", BS_CHECKBOX, 240, 66, 120, 10
    CONTROL "Install &Windows Terminal profile", IDC_TERMINAL_PROFILE, "Button", BS_CHECKBOX, 240, 82, 120, 10
    CONTROL "Add Yori to s&ystem path", IDC_SYSTEM_PATH, "Button", BS_CHECKBOX, 240, 98, 120, 10
    CONTROL "Add Yori to user &path", IDC_USER_PATH, "Button", BS_CHECKBOX, 240, 114, 114, 10
    CONTROL "Install sou&rce code", IDC_SOURCE, "Button", BS_CHECKBOX, 240, 130, 120, 10
    CONTROL "Install debugging symbols", IDC_SYMBOLS, "Button", BS_CHECKBOX, 240, 146, 120, 10
    CONTROL "Register &uninstall handler", IDC_UNINSTALL, "Button", BS_CHECKBOX, 240, 162, 120, 10

    LTEXT "Please select installation options", IDC_STATUS, 12, 187, 380, 19

    DEFPUSHBUTTON "Install", IDC_OK, 8, 208, 50, 14
    PUSHBUTTON "Cancel", IDC_CANCEL, 68, 208, 50, 14

    LTEXT "Version", IDC_VERSION, 335, 211, 60, 19, WS_DISABLED
}

// vim:sw=4:ts=4:et:
