/**
 * @file ysetup/resource.rc
 *
 * Yori shell bootstrap installer resource script
 *
 * Copyright (c) 2018-2021 Malcolm J. Smith
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

#include <windows.h>
#include "resource.h"

1                       ICON    DISCARDABLE     "..\\lib\\yori.ico"

#define YORI_CUSTOM_MANIFEST 1
#include "../lib/yoriver.inc"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "ysetup.manifest"

//
//  NT 3.5 doesn't support DIALOGEX, and DIALOG appears to work correctly
//  including specifying a different font.  If DIALOGEX is needed for some
//  reason, we might need a seperate resource to support NT 3.5x.  That
//  would also remove the need to change fonts at runtime.
//
//  The dimensions of this dialog are system constrained.  260 is as high as
//  will fit on a 640x480 NT4 display.  380 is actually too wide for a
//  640x480 NT 3.x display, but the amount of cropping is tolerable and the
//  dialog is usable. 
//

SETUPDIALOG DIALOG 0, 0, 380, 260
STYLE WS_POPUP | WS_CAPTION | DS_MODALFRAME
CAPTION "Yori setup"
FONT 8, "MS Sans Serif"
{
    LTEXT YSETUP_DLGTEXT_INSTALLDIR, IDC_LABEL_INSTALLDIR, 8, 10, 60, 10
    EDITTEXT IDC_INSTALLDIR, 70, 9, 240, 12
    PUSHBUTTON YSETUP_DLGTEXT_BROWSE, IDC_BROWSE, 320, 8, 50, 14


    GROUPBOX "Install Type", IDC_LABEL_INSTALLTYPE, 10, 28, 192, 177
    CONTROL YSETUP_DLGTEXT_INSTALLCORE, IDC_COREONLY, "Button", BS_RADIOBUTTON|WS_GROUP, 20, 50, 80, 10
    CONTROL YSETUP_DLGTEXT_INSTALLTYPICAL, IDC_TYPICAL, "Button", BS_RADIOBUTTON|WS_TABSTOP, 20, 90, 80, 10
    CONTROL YSETUP_DLGTEXT_INSTALLCOMPLETE, IDC_COMPLETE, "Button", BS_RADIOBUTTON, 20, 160, 80, 10

    LTEXT "Core includes the Yori shell and commands that are equivalent to those included in CMD", IDC_LABEL_COREDESC, 32, 63, 160, 20
    LTEXT "Typical includes Core plus useful tools and utilities such as cab, cal, cvtvt, df, du, edit, env, hash, hexdump, hilite, iconv, lines, lsof, mem, more, mount, nice, ps, scut, sdir, tail, tee, timethis, touch and which", IDC_LABEL_TYPICALDESC, 32, 103, 160, 50
    LTEXT "Complete includes Typical plus a CMD version of echo, for, intcmp, strcmp, stride, ymake and yui", IDC_LABEL_COMPLETEDESC, 32, 173, 160, 30

    GROUPBOX "Install Options", IDC_LABEL_INSTALLOPTIONS, 210, 28, 162, 177
    CONTROL YSETUP_DLGTEXT_DESKTOPSHORTCUT, IDC_DESKTOP_SHORTCUT, "Button", BS_CHECKBOX|WS_GROUP|WS_TABSTOP, 220, 45, 120, 10
    CONTROL YSETUP_DLGTEXT_STARTSHORTCUT, IDC_START_SHORTCUT, "Button", BS_CHECKBOX, 220, 65, 120, 10
    CONTROL YSETUP_DLGTEXT_TERMINALPROFILE, IDC_TERMINAL_PROFILE, "Button", BS_CHECKBOX, 220, 85, 120, 10
    CONTROL YSETUP_DLGTEXT_SYSTEMPATH, IDC_SYSTEM_PATH, "Button", BS_CHECKBOX, 220, 105, 120, 10
    CONTROL YSETUP_DLGTEXT_USERPATH, IDC_USER_PATH, "Button", BS_CHECKBOX, 220, 125, 114, 10
    CONTROL YSETUP_DLGTEXT_SOURCE, IDC_SOURCE, "Button", BS_CHECKBOX, 220, 145, 120, 10
    CONTROL YSETUP_DLGTEXT_SYMBOLS, IDC_SYMBOLS, "Button", BS_CHECKBOX, 220, 165, 120, 10
    CONTROL YSETUP_DLGTEXT_UNINSTALL, IDC_UNINSTALL, "Button", BS_CHECKBOX, 220, 185, 120, 10

    LTEXT YSETUP_DLGTEXT_PLEASESELECT, IDC_STATUS, 10, 217, 380, 19

    DEFPUSHBUTTON "Install", IDC_OK, 8, 238, 50, 14
    PUSHBUTTON "Cancel", IDC_CANCEL, 68, 238, 50, 14

    LTEXT "", IDC_VERSION, 315, 241, 60, 19, WS_DISABLED
}

// vim:sw=4:ts=4:et:
