#define VS_VERSION_INFO 1

VS_VERSION_INFO VERSIONINFO
 FILEVERSION YORI_BIN_VER_MAJOR, YORI_BIN_VER_MINOR, 0, 0
 PRODUCTVERSION YORI_VER_MAJOR, YORI_VER_MINOR, 0, 0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
END
