/**
 * @file edit/en-us.rc
 *
 * Yori editor en-us resources
 *
 * Copyright (c) 2018-2024 Malcolm J. Smith
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

#ifdef _S
#undef _S
#endif

#define _S(ID) ID+IDS_YEDIT_BASE

STRINGTABLE
BEGIN
    _S(IDS_YEDIT_MNU_FILE)                  "&File"
    _S(IDS_YEDIT_MNU_FILE_NEW)              "&New"
    _S(IDS_YEDIT_MNU_FILE_OPEN)             "&Open..."
    _S(IDS_YEDIT_MNU_FILE_SAVE)             "&Save"
    _S(IDS_YEDIT_MNU_FILE_SAVEAS)           "Save &As..."
    _S(IDS_YEDIT_MNU_FILE_EXIT)             "E&xit"
    _S(IDS_YEDIT_MNU_EDIT)                  "&Edit"
    _S(IDS_YEDIT_MNU_EDIT_UNDO)             "&Undo"
    _S(IDS_YEDIT_MNU_EDIT_REDO)             "&Redo"
    _S(IDS_YEDIT_MNU_EDIT_CUT)              "Cu&t"
    _S(IDS_YEDIT_MNU_EDIT_COPY)             "&Copy"
    _S(IDS_YEDIT_MNU_EDIT_PASTE)            "&Paste"
    _S(IDS_YEDIT_MNU_EDIT_CLEAR)            "Cl&ear"
    _S(IDS_YEDIT_MNU_SEARCH)                "&Search"
    _S(IDS_YEDIT_MNU_SEARCH_FIND)           "&Find..."
    _S(IDS_YEDIT_MNU_SEARCH_REPEAT)         "&Repeat Last Find"
    _S(IDS_YEDIT_MNU_SEARCH_PREVIOUS)       "Find &Previous"
    _S(IDS_YEDIT_MNU_SEARCH_CHANGE)         "&Change..."
    _S(IDS_YEDIT_MNU_SEARCH_GOTO)           "&Go to line..."
    _S(IDS_YEDIT_MNU_OPTIONS)               "&Options"
    _S(IDS_YEDIT_MNU_OPTIONS_DISPLAY)       "&Display..."
    _S(IDS_YEDIT_MNU_OPTIONS_TRADITIONAL)   "&Traditional navigation"
    _S(IDS_YEDIT_MNU_OPTIONS_AUTOINDENT)    "&Auto indent"
    _S(IDS_YEDIT_MNU_OPTIONS_EXPANDTAB)     "&Expand tab"
    _S(IDS_YEDIT_MNU_OPTIONS_SAVEDEFAULTS)  "&Save default settings"
    _S(IDS_YEDIT_MNU_HELP)                  "&Help"
    _S(IDS_YEDIT_MNU_HELP_ABOUT)            "&About..."
    _S(IDS_YEDIT_ENC_UTF_DETECT)            "UTF-8/16 based on BOM"
    _S(IDS_YEDIT_ENC_UTF8)                  "UTF-8"
    _S(IDS_YEDIT_ENC_ANSI)                  "ANSI"
    _S(IDS_YEDIT_ENC_ASCII)                 "ASCII"
    _S(IDS_YEDIT_ENC_UTF16)                 "UTF-16"
    _S(IDS_YEDIT_ENC_UTF8_BOM)              "UTF-8 with BOM"
    _S(IDS_YEDIT_ENC_UTF16_BOM)             "UTF-16 with BOM"
    _S(IDS_YEDIT_LINE_CRLF)                 "Windows (CRLF)"
    _S(IDS_YEDIT_LINE_LF)                   "UNIX (LF)"
    _S(IDS_YEDIT_LINE_CR)                   "Classic Mac (CR)"
    _S(IDS_YEDIT_OPEN_EDITING)              "Open for editing"
    _S(IDS_YEDIT_OPEN_READONLY)             "Open read only"
    _S(IDS_YEDIT_DLG_READONLY)              "&Read only:"
    _S(IDS_YEDIT_DLG_ENCODING)              "&Encoding:"
    _S(IDS_YEDIT_DLG_LINEENDING)            "&Line ending:"
    _S(IDS_YEDIT_BUTTON_OK)                 "&Ok"
    _S(IDS_YEDIT_BUTTON_YES)                "&Yes"
    _S(IDS_YEDIT_BUTTON_NO)                 "&No"
    _S(IDS_YEDIT_BUTTON_CANCEL)             "&Cancel"
    _S(IDS_YEDIT_BUTTON_LICENSE)            "&View License..."
    _S(IDS_YEDIT_BUTTON_OVERWRITE)          "&Overwrite"
    _S(IDS_YEDIT_BUTTON_DONTSAVE)           "Do&n't save"
    _S(IDS_YEDIT_TITLE_OPEN)                "Open"
    _S(IDS_YEDIT_TITLE_SAVE)                "Save"
    _S(IDS_YEDIT_TITLE_SAVEAS)              "Save As"
    _S(IDS_YEDIT_TITLE_FIND)                "Find"
    _S(IDS_YEDIT_TITLE_GOTO)                "Go to line"
    _S(IDS_YEDIT_TITLE_ABOUT)               "About"
    _S(IDS_YEDIT_TITLE_LICENSE)             "License"
    _S(IDS_YEDIT_TITLE_ERROR)               "Error"
    _S(IDS_YEDIT_TITLE_SAVECHANGES)         "Save changes"
    _S(IDS_YEDIT_TITLE_OVERWRITEREADONLY)   "Overwrite read only file"
    _S(IDS_YEDIT_FIND_NOTFOUND)             "Text not found."
    _S(IDS_YEDIT_FIND_NOMOREFOUND)          "No more matches found."
    _S(IDS_YEDIT_FAIL_OPENFILE)             "Could not open file."
    _S(IDS_YEDIT_FAIL_OPENFILEWRITE)        "Could not open file for writing."
    _S(IDS_YEDIT_FAIL_CLEARREADONLY)        "Could not remove read only attribute."
    _S(IDS_YEDIT_FAIL_OPENREGISTRY)         "Could not open registry key."
    _S(IDS_YEDIT_FAIL_REGISTRYSUPPORT)      "The operating system does not support registry updates."
    _S(IDS_YEDIT_MSG_WINDOWTOOSMALL)        "The terminal window is too small."
    _S(IDS_YEDIT_MSG_FILEMODIFIED)          "The file has been modified.  Save changes?"
    _S(IDS_YEDIT_MSG_FILEREADONLY)          "%y is read only.  Overwrite?"
END

// vim:sw=4:ts=4:et:
